@model  IEnumerable<Bookshop.Models.Book>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book informations</h1>
</div>

<div class="row">

    <a href="@Url.Action("Insert", "Home")"> <input type="submit" value="+ Add Book" class="btn btn-success" name="btn addBook" /></a>

    <div id="formDiv">
         @using (Html.BeginForm("Index", "Home", FormMethod.Get)) {
             @Html.TextBox("searching") ;
             <input type="submit" value="Search" class="btn btn-secondary" id="confirmSearch"/>
    }
    </div>

    @Html.Partial("FormPartial",Model)

 </div>