@model  IEnumerable<Bookshop.Models.Book>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello in Bookery</h1>
</div>

<div class="row">
    <a href="@Url.Action("Insert", "Home")"> <input type="submit" value="+ Add Book" name="btn addBook" /></a>

    <table>
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Title
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Harry
                </td>
                
                    @foreach (var item in Model)
                    {
                        <td>
                            @item.IdBook
                        </td>
                        <td>
                            @item.Tittle
                        </td>
                    }
            </tr>

        </tbody>
    </table>



</div>